#*.pyc
#*.mo
.*
!.gitattributes
#!.weblate.json

# Sphinx build files
#_build/

# Dependencies
#odoo

content/**/**/**/*.png
content/**/**/**/**/*.png
content/**/**/**/**/**/*.png
content/**/**/**/**/**/**/*.png