*.pyc
*.mo
.*
!.gitattributes
!.weblate.json

# Sphinx build files
_build/

# Dependencies
odoo

locale/
static/
tests/
extensions/
invs/
redirects/
.weblate
commit_template.txt
conf.py
Makefile
requirements.txt
content/applications/**/*.png